# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

*.mesh

build/*
Simulation/build/*
StaticSolve/build/*
Consistency/build/*
CreateTetMesh/build/*

Scripts/BeamTestOpenCV/build/*
Scripts/BeamTestOpenCV/*.mp4
Scripts/BeamTestOpenCV/*.jpg
WolframAndProfilerandHoudini/HoudiniRender/*
WolframAndProfilerandHoudini/backup/*.hipnc
TestsResults/*
3dUnion/build/*
local_temp/*
Condor/TestsResults/*

Pipeline/*.obj
Pipeline/*.stl
Pipeline/*.scad

